:root {
    --bg-primary: #313338;
    --bg-secondary: #2b2d31;
    --bg-tertiary: #1e1f22;
    --bg-accent: #35373c;
    --brand-color: #5865f2;
    --brand-link: #00a8fc;
    --text-normal: #dbdee1;
    --text-muted: #949ba4;
    --status-online: #23a55a;
    --status-danger: #f23f43;
    --status-warning: #f0b232;
    --badge-bot: #5865f2;
}
